<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
    <title>school.io</title>
</head>
<body class="vh-100 row align-items-center">
    
    <div class="" >
        <div class="container-fluid m-auto row align-items-center " style="max-width: 350px;">
            <h1 class=" text-center display-1"><strong>school.io</strong></h1>
            <br>
            <% if (user) { %>
                <h3 class="text-center">Welcome Back, <%= user.first_name %>!</h3>
                <form method="GET" action="/logout" class="d-flex flex-row justify-content-center">
                    <button type="submit" class="btn btn-primary">Log Out</button>
                </form>
            <% } else { %>

            <% if (message !== "") { %>
                <p class="text-center text-danger"><%= message %></p>
            <% } %>
        <form method="POST" action="/login" class="container border rounded shadow-sm p-3" style="max-width: 350px;">
            <h5 class="mb-2">Please log in:</h5>
            <div class="form-group mb-4">
                <div class="form-floating">
                    <input name="username" type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp" placeholder="name@example.com">
                    <label for="loginEmail">Email address</label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-floating">
                    <input name="password" type="password" class="form-control" id="loginPassword" placeholder="password">
                    <label for="loginPassword">Password</label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary m-2">Login</button>
        </form>
        </div>
        
        
        <form method="GET" action="/account/org_verify" class="container border rounded shadow-sm p-1 m-auto mt-4 text-center" style="max-width: 200px;">
            <h5 class="mb-2">Don't have an account?</h5>
            <button type="submit" class="btn btn-primary m-2">Sign Up</button>
        </form>

        <% } %>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>